body{
    background-color: rgb(8, 0, 0);   
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    background-color: rgba(6, 12, 58, 0.425);
    border-bottom: 2px solid orange;
}

.lista a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    list-style: none;
    background-color:rgba(45, 61, 180, 0.322) ;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lista {
    list-style: none;
}

.menu{
    display: flex;
    gap: 20px;
}

.main{
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgba(6, 12, 58, 0.425);
    margin-top: 10px;
    border-radius: 15px;
    width: 900px;
    margin-left: 450px;
}

.titulomain{
    color: orangered;
}

.espacio_lista {
    line-height: 29px;
}

.espacio_texto {
    line-height: 35px;
}

footer{
    background-color: rgba(6, 12, 58, 0.425);
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 400px;
    margin-bottom: 0;
    padding: 12px;
    border-top: 1px solid white;
}

.main2{
    display: flex;
    color: white;
    margin-top: 10px;
    width: 900px;
    margin-left: 450px;
}
.seccion{
    border-radius: 15px;
    background-color: rgba(6, 12, 58, 0.425);
    padding-left: 10px;
}

.seccion2{
    border-radius: 15px;
    background-color: rgba(6, 12, 58, 0.425);
    padding-left: 20px;
    padding-bottom: 30px;
    margin-top: 10px;
    padding-right: 15px;
}


.lista_2 {
    list-style-type: square;
}

.column{
    flex-direction: column;
}

.imagen_seccion2 img{
    width: 850px;
    height: auto;
}

.seccion3{
    border-radius: 15px;
    background-color: rgba(6, 12, 58, 0.425);
    padding-left: 20px;
    padding-bottom: 30px;
    margin-top: 10px;
    padding-right: 15px;
}

.seccion4{
    border-radius: 15px;
    background-color: rgba(6, 12, 58, 0.425);
    padding-left: 20px;
    padding-bottom: 30px;
    margin-top: 10px;
    padding-right: 15px;
}

.lista_4 a{
    text-decoration: none;
    color: orangered;
}

.naranja{
    color: orangered;
}